:root {
  --background: var(--body-color);
  --foreground: var(--text-default-color);

  --radius: 0.5rem;

  --border: var(--border-color);
  --ring: var(--text-default-color);
  --light: var(--light-color);
  --dark: var(--dark-color);

  --popover: var(--dark-color);
  --popover-foreground: var(--text-default-color);

  --primary: var(--primary-color);
  --primary-foreground: var(--text-primary-color);

  --secondary: var(--secondary-color);
  --secondary-foreground: var(--text-secondary-color);

  --muted: var(--muted-color);
  --muted-foreground: var(--text-muted-color);

  --accent: var(--accent-color);
  --accent-foreground: var(--white-color);

  --destructive: var(--danger-color);
  --destructive-foreground: var(--white-color);

  --success: var(--success-color);
  --success-foreground: var(--white-color);

  --text-color: var(--text-default-color);
  --text-dark: var(--text-dark-color);
  --text-light: var(--text-light-color);
}

@theme {
  /* Screens/Breakpoints */
  --breakpoint-sm: 540px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1500px;
  --breakpoint-3xl: 2000px;
  --breakpoint-4xl: 2500px;
  --breakpoint-5xl: 3000px;

  /* Font Family */
  --font-primary: var(--font-family-primary, "Inter", sans-serif);
  --font-secondary: var(--font-family-secondary, "Roboto", sans-serif);

  /* Colors */
  --color-border: hsl(var(--border));
  --color-ring: hsl(var(--ring));
  --color-light: hsl(var(--light));
  --color-dark: hsl(var(--dark));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-success: hsl(var(--success));
  --color-success-foreground: hsl(var(--success-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-text: hsl(var(--text-color));
  --color-text-dark: hsl(var(--text-dark));
  --color-text-light: hsl(var(--text-light));

  /* Font Sizes */
  --text-h1: 56px;
  --text-h1-sm: 34px;
  --text-h2: 36px;
  --text-h2-sm: 28px;
  --text-h3: 26px;
  --text-h3-sm: 22px;
  --text-h4: 20px;
  --text-h4-sm: 18px;
  --text-h5: 18px;
  --text-h6: 16px;

  /* Border Radius */
  --radius-xl: calc(var(--radius) + 2px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* Letter Spacing */
  --letter-spacing-default: -0.62px;
  --letter-spacing-xs: -0.4px;
  --letter-spacing-sm: -0.8px;
  --letter-spacing-lg: -1.4px;

  /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-glow: glow 3s ease-in-out infinite alternate-reverse;
  --animate-move: move 1.5s ease-in-out infinite;
  --animate-spin: spin 1.5s linear infinite;
  --animate-wave: wave-animation 2s ease-in-out infinite;
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes glow {
  0% {
    opacity: 0.1;
  }

  30% {
    opacity: 0.35;
  }

  80% {
    opacity: 0.15;
  }

  100% {
    opacity: 0.25;
  }
}

@keyframes move {
  from {
    transform: translate(-50%, -50%) rotate(var(--startAngle));
  }

  to {
    transform: translate(-50%, -50%) rotate(var(--endAngle));
  }
}

@keyframes spin {
  from {
    transform: rotate(var(--startAngle));
  }

  to {
    transform: rotate(var(--endAngle));
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
